@mixin hideText {
  display:inline-block;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}
@mixin linear-background {
  background: linear-gradient(0deg, rgba(120,40,180,1) 0%, rgba(144,19,254,1) 100%);
}

h1.logo{
  //height: 100px;
  a{
    height: 39px;
    width: 228px;
    background: url("../../../assets/image/logo@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    @include hideText;
  }
}


// header{
//   //@include linear-background;
// }


#searchText{
  outline: none;
  //text-decoration: none;
  background-color: transparent;
  caret-color: $white;
  font-size: 30px;
  
  &::placeholder{
    color: $gray-3;
    font-style: italic;
    font-weight: bold;
  }
 
}


@media only screen and (max-width: 425px) {
  #searchText{
    caret-color: $black;
    &::placeholder{
      color: $gray-4;     
    }   
  }  
  h1.logo{    
    a{  
      height: 25px;
      width: 150px;
      background: url("../../../assets/image/logo.png");    
    }
  }
}