$utilities:map-merge(
  $utilities,
  (
    'object-fit': (
      property: object-fit,
      class: object,
      values: (
        contain,
        cover,
        fill,
        none,
        scale-down,
      ),
    ),    
    'letter-spacing':(
      property:'letter-spacing',
      class:ls,
      responsive:true,
      values:$letter-space-sizes      
    ),
    'width': (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        vw:100vw
      ),
    ),
    'height': (
      responsive: true,
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        0: 0,
        vh:100vh,
           
      ),
    ),
    'text-decoration': (
      property: text-decoration,
      class: text-decoration,
      values: (
        none:none,
      ),
    ),
    'list-style': (
      property: list-style,
      class: list-style,
      values: (
        n:none,
        c:circle,
        s:square
      ),
    ),
    'outline': (
      property: outline,
      class: outline,
      values: (
        0
      ),
    ),
    // 'font-family': (
    //   property: font-family,
    //   class: font,
    //   values: (        
    //     display: $font-family-display,
  
    //   ),
    // ),
  )
)
