$utilities:map-merge(
  $utilities,
  (
    'object-fit': (
      property: object-fit,
      class: object,
      values: (
        contain,
        cover,
        fill,
        none,
        scale-down,
      ),
    ),    
    'letter-spacing':(
      property:'letter-spacing',
      class:ls,
      responsive:true,
      values:$letter-space-sizes      
    ),
    'width': (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        220:220px       
      ),
     ),
    'height': (
      responsive: true,
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        0: 0,
        220:220px  
      ),
    ),
    'text-decoration': (
      property: text-decoration,
      class: text-decoration,
      values: (
        none,
      ),
    ),
    'list-style': (
      property: list-style,
      class: list-style,
      values: (
        n:none,
        c:circle,
        s:square
      ),
    ),
    'outline': (
      property: outline,
      class: outline,
      values: (
        0
      ),
    ),
    'cursor':(
      property:cursor,
      class:cursor,
      values:(
       p:pointer
      ),
    ),
    "background-color": (
      property: background-color,
      responsive:true,
      class: bg,
      values: map-merge(
        $theme-colors,
        (
          "body": $body-bg,
          "white": $white,
          "transparent": transparent
        )
      )
    ),
    "border-color": (
      property: border-color,
      class: border,
      responsive:true,
      values: map-merge($theme-colors, ("white": $white))
    ),
    "color": (
      property: color,
      class: text,
      responsive:true,
      values: map-merge(
        $theme-colors,
        (
          "white": $white,
          "body": $body-color,
          "muted": $text-muted,
          "black-50": rgba($black, .5),
          "white-50": rgba($white, .5),
          "reset": inherit,
        )
      )
    ),
    // 'font-family': (
    //   property: font-family,
    //   class: font,
    //   values: (        
    //     display: $font-family-display,
  
    //   ),
    // ),
  )
)
